from gvtest.testsuite import *


def check_output(test, output):
    if output.find('[toy_adder] PASS') == -1:
        return (False, "Didn't find [toy_adder] PASS in output\n")
    return (True, None)


# Called by gvtest to declare the tests
def testset_build(testset):

    testset.new_make_test('toy_adder', checker=lambda test, output: check_output(test, output))
